.toggle {
  display: flex;
  align-items: center;
  padding: 3px;
  width: 110px;
  height: 60px;
  background-color: grey;
  border-radius: 30px;

  &__circle {
    width: 55px;
    height: 55px;
    background-color: beige;
    border-radius: 50%;
    transition: 0.3s all;
    transform: translateX(0);

    &--active {
      transform: translateX(100%);
      background-color: lawngreen;
      transition: 0.3s all;
    }
  }
}
