 .navigation {
   height: 50px;
   border-bottom: 4px solid black;
   display: flex;
   align-items: center;
   justify-content: center;

    a {
       display: inline-block;
       height: 20px;
       width: 20%;
    }
 }