.switcher {
  position: relative;
  display: flex;
  align-items: center;
  padding: 3px;
  width: 500px;
  height: 60px;
  background-color: grey;
  border-radius: 30px;

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
    transition: 0.3s all;
    transform: translateX(0);

    &:not(:first-child) {
      border-left: 2px solid black;

    }
  }

  &__active-bar {
    position: absolute;
    height: 100%;
    background-color: greenyellow;
    border-radius: 17px;
    color: white;
    z-index: 5;
    transition: 0.3s ease-in-out;
    opacity: 40%;
  }
}
