.navigation {
    width: 100%;
    height: 40px;
    background-color: slateblue;
    display: flex;
    align-items: center;
    
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0 20px;
        
        li {
            margin-right: 20px;

            a {
                text-decoration: none;
                font-weight: 700;
                transition: all 300ms ease;
                color: white;

                &:hover {
                    color: yellow;
                }
            }
        }
    }
}