.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  width: 300px;
  height: 60px;
  background-color: grey;
  border-radius: 30px;
  border: 2px solid black;
  position: relative;

  &__wrapper {
    position: absolute;
    top: 60px;
    padding: 10px;
    width: 100%;
  }

  &__option {
    padding: 5px;
    border: 2px solid black;

  }
}
