.menu {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: palevioletred;
  border: 2px solid black;

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 3rem;
  }
}
